body {
    background-color: #f0f0f0;
}

a {
    outline: 0;
    text-decoration: none;
}

a:hover, a:active {
    font-size: 1.2em;
}
a:focus {}
.md-toolbar-tools-bottom {
    font-size: 0.8em;
}

.md-toolbar-tools-bottom :last-child {
    opacity: 0.7;
    padding-top: .5em;
}

.icon {
    font-size: 2em;
    width: 100%;
    height: 100%;
}
/*
.fileUploader {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    display: block;
}

.fileUploader + label {
    color: white;
    cursor: pointer;
}

.fileUploader:focus + label,
.fileUploader + label:hover {
    background-color: #ad1457;
}


.uploadForm_buttonContainer {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #e91e63;
    display: block;
}

.uploadForm_button {
    text-align: center;
    margin: auto 0;
}
*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.mainContent {
    position: relative;
    overflow-x: hidden;
}
