 <md-card layout-fill layout="column">
    <md-content class="md-padding">
        <md-card-actions layout="row" layout-align="begin center">
            <div class="fileUpload">
                <md-button class="md-primary md-raised">Добавить</md-button>
                <input id="file" onchange="angular.element(this).scope().fileSelected(this)" class="upload" type="file" name="file" aria-label="fileupload" data-multiple-caption="{count} files selected" multiple></input>
            </div>
            <md-button ng-click="vm.remove()">Удалить</md-button>
        </md-card-actions>
        <md-list>
            <md-subheader class="md-no-sticky">Последние загруженные файлы</md-subheader>
        </md-list>

        <md-subheader class="md-warn" ng-show="vm.selected.length">
          <div>
              <span>{{vm.selected.length > 1 ? 'Выбрано' : 'Выбран'}} {{vm.selected.length}} {{vm.selected.length > 1 ? vm.selected.length >= 5 ? 'файлов' : 'файла' : 'файл'}}</span>
          </div>
        </md-subheader>
        
    <md-table-container>
      <table md-table md-row-select ng-model="vm.selected" md-progress="promise">
        <thead md-head md-order="vm.sortOrder">
          <tr md-row>
            <th md-column md-order-by="name"><span>Имя файла</span></th>
            <th md-column md-order-by="uploaded_at">Дата загрузки</th>
          </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="file" md-select-id="{{vm.uploadedFiles.name}}" md-auto-select ng-repeat="file in vm.uploadedFiles | orderBy: vm.sortOrder">
            <td md-cell>{{file.name}}</td>
            <td md-cell>{{file.uploaded_at |date:'yyyy-MM-dd HH:mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
</md-content>
</md-card>
