<form name="registerForm" novalidate>
    <div class="form-group" ng-class="{ 'has-error': registerForm.department.$touched && registerForm.department.$invalid }">
      <div class="row">
          <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
              <label for="department">Отдел</label>
		<div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-wrench"></i></span>
                  <select class="form-control" required ng-model="vm.department"
                      ng-options="department as department.name for department in vm.allDeps track by department.id"
                      name="department" id="department">
                  </select>
		</div>
              <div class="help-block" role="alert" ng-messages="registerForm.department.$error" ng-if="registerForm.department.$touched">
                  <div ng-messages-include="/static/src/assets/messages.html"></div>
              </div>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="form-group" ng-class="{ 'has-error': registerForm.email.$touched && registerForm.email.$invalid }">
              <label for="email">Email</label>
		<div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <input class="form-control" placeholder="Email" type="email" id="email" md-maxlength="50" required name="email" ng-model="vm.email" />
		</div>
              <div class="help-block" role="alert" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
                  <div ng-messages-include="/static/src/assets/messages.html"></div>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            <div class="form-group" ng-class="{ 'has-error': registerForm.password.$touched && registerForm.password.$invalid }">
              <label for="password">Пароль</label>
		<div class="input-group">
		    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input class="form-control" placeholder="Пароль" type="password" id="password" md-maxlength="50" required name="password" ng-model="vm.password" />
		</div>
              <div class="help-block" role="alert" ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched">
                  <div ng-messages-include="/static/src/assets/messages.html"></div>
              </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid" ng-click="vm.register();"> Отправить </button>
            </div>
        </div>
    </div>
</form>
