{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="ru" ng-app='app'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}gmp{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    {% endblock %}

  </head>

  <body>
    {% block content %}
    {% endblock content %}

    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
 
