{% extends "base.html" %}
{% load staticfiles i18n %}

{% block css %}
<base href="/">
<link rel="stylesheet" href="{% static 'angular-material/angular-material.css' %}">
<link rel="stylesheet" href="{% static 'src/assets/app.css' %}">
{% endblock %}

{% block angular %}
    <script src="{% static 'angular/angular.js' %}"></script>
    <script src="{% static 'angular-aria/angular-aria.js' %}"></script>
    <script src="{% static 'angular-animate/angular-animate.js' %}"></script>
    <script src="{% static 'angular-messages/angular-messages.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.js' %}"></script>
    <script src="{% static 'angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'angular-material/angular-material.min.js' %}"></script>
    <script src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'src/app/authentication/gmp.js' %}"></script>
{% endblock %}

{% block javascript  %}
{% if debug %}
    <script src="//localhost:35729/livereload.js"></script>
{% endif %}
{% endblock %}

{% block content %}
  <!-- 
      <md-sidenav class="md-whiteframe-z2" md-is-locked-open="true">
          <md-toolbar class="md-theme-default">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
          </md-toolbar>
      
          <md-content layout-padding>
            <h3>Статистика</h3>
          </md-content>
      </md-sidenav>
   -->

    <div flex layout="column">
          <div ui-view></div>
    </div>

{% endblock %}
