{% extends "base.html" %}
{% load staticfiles i18n %}

{% block css %}
<base href="/">
<link rel="stylesheet" href="{% static 'Ionicons/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'src/assets/css/app.css' %}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
{% endblock %}

{% block title%}АКФОД{% endblock title %}

{% block angular %}
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'angular/angular.min.js' %}"></script>
    <script src="{% static 'angular-i18n/angular-locale_ru-ru.js' %}"></script>
    <script src="{% static 'angular-i18n/ru-ru.js' %}"></script>
    <!-- 
        <script src="{% static 'angular-aria/angular-aria.js' %}"></script>
        <script src="{% static 'angular-animate/angular-animate.min.js' %}"></script>
     -->
    <script src="{% static 'angular-messages/angular-messages.min.js' %}"></script>
    <script src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
    <script src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
    <script src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap.min.js' %}"></script>
    <script src="{% static 'angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
    <script src="{% static 'ng-file-upload/ng-file-upload-shim.js' %}"></script>
    <script src="{% static 'ng-file-upload/ng-file-upload.js' %}"></script>
    <script src="{% static 'filesaver/FileSaver.js' %}"></script>
    <!-- 
        This app compiled
     -->
    <script src="{% static 'dist/app.min.js' %}"></script>
    <script src="{% static 'dist/templates.js' %}"></script>
{% endblock %}

{% block javascript  %}
{% if debug %}
    <script src="//localhost:35729/livereload.js"></script>
{% endif %}
    <script src="{% static 'bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>
{% endblock %}

{% block content %}
 
{% verbatim %}


 <div ng-controller="ToolbarController as vm">
     <div ng-if="main.isAuthenticated()">

        <nav class="navbar navbar-default">
          <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">
                      <strong>АКФОД</strong>
                  </a>
                </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" ng-init="adminUrl = 'admin/'" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav" ng-repeat="entry in main.menu">
                   <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                       <!-- 
                           <a ng-href="/{{adminUrl}}">Вход</a>
                        -->
                        <a ui-sref="{{entry.ref}}" ng-attr-target="{{entry.ref === 'admin' ? '_self' : ''}}" ui-sref-active="active" aria-label="{{entry.link}}">
                           {{entry.link}}
                        </a>
                   </li>
               </ul>

              <ul class="nav navbar-nav navbar-right" ng-controller="UserDataController as uc">

                  <div class="navbar-text hidden-sm hidden-xs">{{uc.userdata.data.last_name}} {{uc.userdata.data.first_name}} {{uc.userdata.data.middle_name}}<br/><small>{{uc.userdata.data.department.name}}</small></div>
                <li class="danger"><a href="#" ng-click="vm.logout()" ng-show="main.isAuthenticated()" aria-label="Выход">
                    <!-- 
                        <i class="icon ion-android-exit"></i>
                     -->
                     Выход
                    </a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


     </div>
     
     <div class="tabbable" ng-hide="main.isAuthenticated()" ng-cloak>
        <ul class="nav nav-tabs">
            <li data-toggle="tab" ui-sref-active="active" class="active item" role="presentation"><a ui-sref="login">Вход</a></li>
            <li data-toggle="tab" ui-sref-active="active" class="item" role="presentation"><a ui-sref="register">Регистрация</a></li>
        </ul>
    </div>


      <!-- 
          Main workspace content
       -->
    <div class="container" ng-cloak ui-view></div>

</div>
{% endverbatim %}
{% endblock %}
