<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React</title>
    <link rel="stylesheet" href="jspm_packages/github/twbs/bootstrap@3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div id="content">
        Here will be the main content
    </div>
        <script src="jspm_packages/system.js"></script>
        <script src="config.js"></script>
        <script>
            System.import('lib/main')
        </script>
    <!-- 
     <script src="build.js"></script>
     -->
    
</body>
</html>
